body {
    font-family: 'Lato', sans-serif !important;
    background: #eee !important;
    background: url('../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading {
    margin-bottom: 30px;
    margin-left: 70px;
}

.checkbox {
    margin-bottom: 30px;
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 20px;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.avatar {
    width: 110px;
    height: 110px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background: url('../img/bg.jpg');
    background-size: cover;
}